<div class="group-code">
    <h5>Query:</h5>
    <div class="btn-group-code">
        <div class="btn-group" role="group" aria-label="Code display toggle button group">
            <input type="radio" class="btn-check" name="{{.Name}}-button" id="{{.Name}}-default-button" autocomplete="off" checked>
            <label class="btn btn-code btn-outline-secondary btn-sm" for="{{.Name}}-default-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{.Name}}-default" aria-expanded="true" aria-controls="{{.Name}}-default">
                default
            </label>
            <input type="radio" class="btn-check" name="{{.Name}}-button" id="{{.Name}}-flat-button" autocomplete="off">
            <label class="btn btn-code btn-outline-secondary btn-sm" for="{{.Name}}-flat-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{.Name}}-flat" aria-expanded="false" aria-controls="{{.Name}}-flat">
                flat
            </label>
            <input type="radio" class="btn-check" name="{{.Name}}-button" id="{{.Name}}-csv-button" autocomplete="off">
            <label class="btn btn-code btn-outline-secondary btn-sm" for="{{.Name}}-csv-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{.Name}}-csv" aria-expanded="false" aria-controls="{{.Name}}-csv">
                csv
            </label>
        </div>
    </div>
</div>
<div id="{{ .Name }}-parent">
    <div class="collapse show" id="{{ .Name }}-default" data-bs-parent="#{{ .Name }}-parent"> 
```json
{{ .Usage }}
```  
    </div>
    <div class="collapse" id="{{ .Name }}-flat"  data-bs-parent="#{{ .Name }}-parent">
```json
{{ .Usage | toFlat }}
```  
    </div>
    <div class="collapse" id="{{ .Name }}-csv" data-bs-parent="#{{ .Name }}-parent">
```json
{{ .Usage | toCsv }}
```  
    </div>
</div>
