p:has(.btn-code) {
    margin-bottom: 0!important;
    text-align: right;
}
.btn-code {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
.group-code, .group-name {
    position:relative;
}
.btn-group-code {
    height: 30px;
    width: 100%;
    text-align: right;
    position:absolute;
    bottom: -8px;
}